# DateTime Operation
- It is very important operation for time series analysis

In [1]:
import numpy as np
import pandas as pd

### Create or change type of DateTime
- .to_datetime()

In [2]:
data = {
    'Date': ['2023-01-01 10:12:15',
             '2023-01-02 11:12:13', '2023-01-03 11:12:13', '2023-01-04 11:12:13'],
    'Sales': [40000,50000, 35000, 55000]
}
df = pd.DataFrame(data)
df

                  Date  Sales
0  2023-01-01 10:12:15  40000
1  2023-01-02 11:12:13  50000
2  2023-01-03 11:12:13  35000
3  2023-01-04 11:12:13  55000

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    4 non-null      object
 1   Sales   4 non-null      int64
dtypes: int64(1), object(1)
memory usage: 196.0+ bytes

In [4]:
df.Date = pd.to_datetime(df.Date)

In [5]:
# date_range(start, end, freq=)
new_date = pd.date_range('2023-01-01 0000:00:00', '2023-12-31 0000:00:00', freq='ME')

In [6]:
new_df = pd.DataFrame({'Entry_date' : new_date})
new_df

   Entry_date
0  2023-01-31
1  2023-02-28
2  2023-03-31
3  2023-04-30
4  2023-05-31
5  2023-06-30
6  2023-07-31
7  2023-08-31
8  2023-09-30
9  2023-10-31
10 2023-11-30
11 2023-12-31

### Extracting Date/Time components
.dt accessor

In [7]:
df['year'] = df.Date.dt.year

In [8]:
df['Month'] = df.Date.dt.month
df['Day'] = df.Date.dt.day
df['Hour'] = df.Date.dt.hour

In [9]:
df.Date.dt.weekday

0    6
1    0
2    1
3    2
Name: Date, dtype: int32

In [10]:
new_df['Month_Name']=new_df.Entry_date.dt.month_name()
new_df

   Entry_date Month_Name
0  2023-01-31    January
1  2023-02-28   February
2  2023-03-31      March
3  2023-04-30      April
4  2023-05-31        May
5  2023-06-30       June
6  2023-07-31       July
7  2023-08-31     August
8  2023-09-30  September
9  2023-10-31    October
10 2023-11-30   November
11 2023-12-31   December

In [11]:
zomato = pd.read_csv('zomato.csv', encoding='latin-1')
zomato.columns

Index(['Restaurant ID', 'Restaurant Name', 'Country Code', 'City', 'Address',
       'Locality', 'Locality Verbose', 'Longitude', 'Latitude', 'Cuisines',
       'Average Cost for two', 'Currency', 'Has Table booking',
       'Has Online delivery', 'Is delivering now', 'Switch to order menu',
       'Price range', 'Aggregate rating', 'Rating color', 'Rating text',
       'Votes'],
      dtype='object')

In [12]:
ipl = pd.read_csv('IPL Matches 2008-2020.csv', parse_dates=['date'])
ipl

,id,city,date,player_of_match,venue,neutral_venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,eliminator,method,umpire1,umpire2
0,335982,Bangalore,2008-04-18,BB McCullum,M Chinnaswamy Stadium,0,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,N,NaN,Asad Rauf,RE Koertzen
1,335983,Chandigarh,2008-04-19,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",0,Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,runs,33.0,N,NaN,MR Benson,SL Shastri
2,335984,Delhi,2008-04-19,MF Maharoof,Feroz Shah Kotla,0,Delhi Daredevils,Rajasthan Royals,Rajasthan Royals,bat,Delhi Daredevils,wickets,9.0,N,NaN,Aleem Dar,GA Pratapkumar
3,335985,Mumbai,2008-04-20,MV Boucher,Wankhede Stadium,0,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,Royal Challengers Bangalore,wickets,5.0,N,NaN,SJ Davis,DJ Harper
4,335986,Kolkata,2008-04-20,DJ Hussey,Eden Gardens,0,Kolkata Knight Riders,Deccan Chargers,Deccan Chargers,bat,Kolkata Knight Riders,wickets,5.0,N,NaN,BF Bowden,K Hariharan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
811,1216547,Dubai,2020-09-28,AB de Villiers,Dubai International Cricket Stadium,0,Royal Challengers Bangalore,Mumbai Indians,Mumbai Indians,field,Royal Challengers Bangalore,tie,NaN,Y,NaN,Nitin Menon,PR Reiffel
812,1237177,Dubai,2020-11-05,JJ Bumrah,Dubai International Cricket Stadium,0,Mumbai Indians,Delhi Capitals,Delhi Capitals,field,Mumbai Indians,runs,57.0,N,NaN,CB Gaffaney,Nitin Menon
813,1237178,Abu Dhabi,2020-11-06,KS Williamson,Sheikh Zayed Stadium,0,Royal Challengers Bangalore,Sunrisers Hyderabad,Sunrisers Hyderabad,field,Sunrisers Hyderabad,wickets,6.0,N,NaN,PR Reiffel,S Ravi
814,1237180,Abu Dhabi,2020-11-08,MP Stoinis,Sheikh Zayed Stadium,0,Delhi Capitals,Sunrisers Hyderabad,Delhi Capitals,bat,Delhi Capitals,runs,17.0,N,NaN,PR Reiffel,S Ravi
815,1237181,Dubai,2020-11-10,TA Boult,Dubai International Cricket Stadium,0,Delhi Capitals,Mumbai Indians,Delhi Capitals,bat,Mumbai Indians,wickets,5.0,N,NaN,CB Gaffaney,Nitin Menon

In [13]:
ipl['year']=ipl.date.dt.year
ipl['month'] = ipl.date.dt.month
ipl['day'] = ipl.date.dt.day

In [14]:
ipl.year.value_counts()

year
2013    76
2012    74
2011    73
2014    60
2010    60
2020    60
2019    60
2016    60
2018    60
2015    59
2017    59
2008    58
2009    57
Name: count, dtype: int64

In [15]:
ipl.date.dt.month_name().value_counts()

date
April        364
May          349
March         41
October       40
September     12
November       8
June           2
Name: count, dtype: int64

In [16]:
df.Date.dt.minute

0    12
1    12
2    12
3    12
Name: Date, dtype: int32

In [17]:
df.Date.dt.second

0    15
1    13
2    13
3    13
Name: Date, dtype: int32

In [18]:
ipl.groupby('year')['result_margin'].mean()

year
2008    15.965517
2009    16.857143
2010    19.762712
2011    18.930556
2012    16.229730
2013    19.837838
2014    14.728814
2015    17.821429
2016    15.333333
2017    17.103448
2018    14.350000
2019    15.210526
2020    22.589286
Name: result_margin, dtype: float64

# Date and Time Arithmetic
- Perfroms calculations like adding / Subtracting

In [19]:
df[''] = df.Date + pd.Timedelta('2 Dayss and 3 hours and 15 minutes')

ValueError: invalid unit abbreviation: Dayssand

In [ ]:
df['time_date']= df . date_after_2days - df.Date
df

AttributeError: 'DataFrame' object has no attribute 'date_after_2days'

In [ ]:
df.time_diff.dt.days

AttributeError: 'DataFrame' object has no attribute 'time_diff'

# Create Date  by range method

In [ ]:
pd.DataFrame({
    'date':pd.date_range(starts='2023-01-28', end = '')
})

ValueError: If using all scalar values, you must pass an index

In [ ]:
## Filtering by Date and Time

In [22]:
change = pd.read_csv("IPL Matches 2008-2020.csv")
change.head()

,id,city,date,player_of_match,venue,neutral_venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,eliminator,method,umpire1,umpire2
0,335982,Bangalore,2008-04-18,BB McCullum,M Chinnaswamy Stadium,0,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,N,NaN,Asad Rauf,RE Koertzen
1,335983,Chandigarh,2008-04-19,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",0,Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,runs,33.0,N,NaN,MR Benson,SL Shastri
2,335984,Delhi,2008-04-19,MF Maharoof,Feroz Shah Kotla,0,Delhi Daredevils,Rajasthan Royals,Rajasthan Royals,bat,Delhi Daredevils,wickets,9.0,N,NaN,Aleem Dar,GA Pratapkumar
3,335985,Mumbai,2008-04-20,MV Boucher,Wankhede Stadium,0,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,Royal Challengers Bangalore,wickets,5.0,N,NaN,SJ Davis,DJ Harper
4,335986,Kolkata,2008-04-20,DJ Hussey,Eden Gardens,0,Kolkata Knight Riders,Deccan Chargers,Deccan Chargers,bat,Kolkata Knight Riders,wickets,5.0,N,NaN,BF Bowden,K Hariharan